<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471611068035-kqm8dcgavcnkbn9iea9m25rpfc50oc5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471611068035-kqm8dcgavcnkbn9iea9m25rpfc50oc5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDCtFlB4_nfqsZJnV4Kl55koITp639K5AM</string>
	<key>GCM_SENDER_ID</key>
	<string>471611068035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PD-Fitness.PD-Fitness</string>
	<key>PROJECT_ID</key>
	<string>fir-pdfitness</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pdfitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471611068035:ios:ede7a72a78c8f5ea1b95b6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-pdfitness.firebaseio.com</string>
</dict>
</plist>